<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}Ideawheel</title>
    </head>
    <body>
        <header>
            <h1>Ideawheel</h1>
            <h2>{% block header %}{% endblock %}</h2>
            <div class="usermgmt">
                {% if session.logged_in %}
                Logged in as <a href="{{ url_for('show_user', username=session.username) }}">{{ session.username }}</a> | <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
            <div class="messages">
                {% for message in get_flashed_messages() %}
                    <div class="message">{{ message }}</div>
                {% endfor %}
            </div>
        </header>
        <article>
            {% block body %}{% endblock %}
        </article>
        <footer>
            Copyright notice, github link, micro-about.
        </footer>
    </body>
</html>
